*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
   }
   header{
    text-align: center;
    border: 5px solid coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1.5rem;
    margin-bottom: 20px;
   }
   .main{
    border: 5px solid coral;
    display: flex;
    justify-content: center;

   }
   .input-container{
    margin:20px;
    text-align: center;
   }
   .sub_name{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   .grade-select{
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
   }
   
   .cal{
    font-size: 1.3rem;
    /* margin-left: 40%; */
    background-color: black;
    color: bisque;
    border-radius: 1rem;
    padding: 0.7rem;
    margin-bottom: 20px;
   }
   .op{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   footer{
    margin-top: 20px;
    display: flex;
    border: 5px solid coral;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    letter-spacing: 2px;
   }
   .top{
    font-weight: 800;
   }